.purple {
    color: purple;
}

.large {
    font-size: 10em;
}
li {
    background-color: rgb(247, 240, 240);
    margin-bottom: 0.5em;
}
img {
    border-radius: 50%;
    display: inline-block;
}
span {
    display: inline-block;
    margin-left: 2%;
}